body {
    font-family: 'Roboto', sans-serif;
    background-color: #282c34;
    color: #ffffff;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 40px auto;
    padding: 30px;
    background-color: #3c404d;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

h1 {
    color: white;
}

.instructions {
    font-size: 1.25rem;
    margin-bottom: 30px;
    color: #adbac7;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); /* Adjust the number of columns based on screen size */
    gap: 20px;
    padding: 20px;
}

.card {
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* Keeps a square aspect ratio */
    background-color: #565c6f;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    overflow: hidden;
}

.card img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#start-game {
    background-color: #4caf50;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s, transform 0.3s;
}

#start-game:hover {
    background-color: #43a047;
    transform: scale(1.05);
}

/* Smaller screens adjustments */
@media (max-width: 600px) {
    .instructions {
        font-size: 1rem;
    }
    #game-board {
        gap: 10px;
    }
}
